:root {

   color-scheme: light dark; /* both supported */
   font-family: sans-serif;

   --colorSurface: #ffffff;
   --radioRed: #EF5350;
   --radioGrey: #BDBDBD;

}

.light {
   --colorSurface: #ffffff;
   --radioRed: #EF5350;
   --radioGrey: #BDBDBD;
}

.dark {
   --colorSurface: #121212;
   --radioRed: #E57373;
   --radioGrey: #E0E0E0;
}

.appname {
	color: var(--radioRed);
   font-weight: bold;
}

.brandname {
	color: var(--radioGrey);
}

.centered-class {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 100vh;
    }