:root {

   color-scheme: light dark; /* both supported */
   font-family: sans-serif;

   --colorSurface: #ffffff;
   --radioRed: #EF5350;
   --radioGrey: #BDBDBD;

}

.light {
   --colorSurface: #ffffff;
   --radioRed: #EF5350;
   --radioGrey: #BDBDBD;
}

.dark {
   --colorSurface: #121212;
   --radioRed: #E57373;
   --radioGrey: #E0E0E0;
}

body {

}

.appname {
	color: var(--radioRed);
   font-weight: bold;
}

.brandname {
	color: var(--radioGrey);
}

html, body, .container {
    height: 100%;
}

.container {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}